:root{
    --cor-de-fundo: white;
    --cor-principal: yellow;
    --cor-do-texto: black;
    --cor-terciaria: gray;
    --cor-de-fundo-do-topo: black;
    --fonte: 'Arial', sans-serif;
    --tamanho-da-fonte: 16px;
}